---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout page="/terms/70-calendar" lang="ja" mainClass="legal">
    <h2 class="legal__title">利用規約</h2>

    <section class="legal__section">
        <p class="legal__explanation">
            本サイトが提供する各アプリケーションの利用規約は、以下よりご確認ください。
        </p>
    </section>

    <section class="legal__section">
        <ul class="legal__list">
            <li class="legal__item">
                <a class="legal__link" href="/terms/70-calendar/">
                    70! カレンダー 利用規約
                </a>
            </li>
        </ul>
    </section>
</BaseLayout>
