.app-card {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;

    &__detail {
        width: 60%;
    }

    &__app-name {
        margin-bottom: .5rem;
    }

    &__description {
        font-size: .75rem;
        margin-bottom: 10px;
    }

    &__image {
        width: 35%;
        height: auto;
        border: 1px solid #888;
        border-radius: 20px;
    }

    &__stores {
        display: flex;
        gap: 6px;
        align-items: center;
    }

    &__store {
        flex-shrink: 0;
    }

    &__store-link {
        display: flex;
        align-items: center;
        height: 32px;
    }

    &__store-image {
        width: auto;
        height: 100%;
    }

    @media screen and (min-width: 768px) {
        width: 48%;

        &:nth-child(odd) {
            margin-right: 4%;
        }

        &__store-link {
            height: 40px;
        }
    }
}