.hamburger{
    $this: &;
    $height: 3px;
    $marginBottom: 8px;
    $translateY: $height + $marginBottom;

    position: relative;
    z-index: 3;
    cursor: pointer;
    &__line{
        display: block;
        width: 30px;
        height: $height;
        margin-bottom: $marginBottom;
        background-color: #172a47;
        transition: all .5s;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &.expanded #{$this}__line:nth-last-of-type(1){
        -webkit-transform: translateY(-$translateY) rotate(45deg);
        transform: translateY(-$translateY) rotate(45deg);
    }
    &.expanded #{$this}__line:nth-last-of-type(2){
        opacity: 0;
    }
    &.expanded #{$this}__line:nth-last-of-type(3){
        -webkit-transform: translateY($translateY) rotate(-45deg);
        transform: translateY($translateY) rotate(-45deg);
    }
    @media screen and (min-width: 768px) {
        &__line{
            width: 35px;
        }
    }
}
