---
import { APPS } from '@/domain/app/registry';
import type { AppConfig } from '@/domain/app/types';
import App from './App.astro';
---

<section class="apps">
    <h2 class="apps__title">わたしがつくったアプリたち</h2>
    <ul class="apps__list">
        {Object.values(APPS).map((app: AppConfig) => <App app={app} />)}
    </ul>
</section>
