---
const today = new Date();

interface Sns {
    name: string;
    url: string;
}

const sns: Sns[] = [
    {
        name: 'github',
        url: 'https://github.com/showgayaki?tab=repositories',
    },
    {
        name: 'instagram',
        url: 'https://www.instagram.com/jan_ken_g/',
    },
];
---

<footer class="footer">
    <p class="footer__copyright">&copy; {today.getFullYear()} Kenji Kanke</p>
    <ul class="footer__sns-list sns-list">
        {
            sns.map((item) => {
                return (
                    <li class="sns-list__item sns-item">
                        <a
                            class={`sns-item__link sns-item__link--${item.name}`}
                            href={item.url}
                        >
                            <i class={`fab fa-${item.name} fa-2x`} />
                        </a>
                    </li>
                );
            })
        }
    </ul>
</footer>
