---
import { Image } from 'astro:assets';

import Hamburger from './Hamburger.astro';
import Navigation from '../components/Navigation.astro';
import Logo from '../images/logo.png';
---

<header class="header">
    <div class="header__container">
        <h1 class="header__title">
            <a class="header__link" href="/">
                <Image src={Logo} alt="logo" class="header__image" />
            </a>
        </h1>
        <Navigation />
        <Hamburger />
    </div>
</header>
