---
import App from './App.astro';

export interface MyAppInfo {
    name: string;
    description: string;
    iconFile: string;
    stores: {
        vendor: string;
        url: string;
    }[];
}

const apps: MyAppInfo[] = [
    {
        name: '確認さん',
        description: '1タップでグローバルIPを確認できます',
        iconFile: 'icon_kakuninsan.png',
        stores: [
            {
                vendor: 'app-store',
                url: 'https://apps.apple.com/us/app/確認さん/id6476134454',
            },
            {
                vendor: 'google-play',
                url: '',
            },
        ],
    },
    {
        name: 'お釣り計算機',
        description: '1タップでお釣りの計算ができます',
        iconFile: 'icon_otsurin.png',
        stores: [
            {
                vendor: 'app-store',
                url: 'https://apps.apple.com/jp/app/お釣り計算機/id6479202932',
            },
            {
                vendor: 'google-play',
                url: 'https://play.google.com/apps/testing/world.kanke.otsurin',
            },
        ],
    },
    {
        name: 'サバカン！',
        description: 'ライブリロードサーバーをカンタンに立ち上げよう',
        iconFile: 'icon_sabakan.png',
        stores: [
            {
                vendor: 'app-store',
                url: 'https://apps.apple.com/jp/app/サバカン/id6748916636',
            },
            {
                vendor: 'microsoft-store',
                url: 'https://apps.microsoft.com/detail/9mzwkjrsh6dr',
            },
        ],
    },
];
---

<section class="my-apps">
    <h2 class="my-apps__title">わたしがつくったアプリたち</h2>
    <ul class="my-apps__list app-list">
        {apps.map((app: MyAppInfo) => <App app={app} />)}
    </ul>
</section>
