---
import AppList from "./AppList.astro";
import '../styles/_my-apps.scss';

export interface MyAppInfo {
    name: string;
    description: string;
    iconFile: string;
    stores: {
        vendor: string;
        url: string;
    }[];
}

const apps: MyAppInfo[] = [
    {
        name: '確認さん',
        description: '1タップでグローバルIPを確認できます',
        iconFile: 'icon_kakuninsan.png',
        stores: [
            {
                vendor: 'appstore',
                url: 'https://apps.apple.com/us/app/%E7%A2%BA%E8%AA%8D%E3%81%95%E3%82%93/id6476134454',
            },
            {
                vendor: 'googleplay',
                url: '',
            },
        ]
    },
    {
        name: 'お釣り計算機',
        description: '1タップでお釣りの計算ができます',
        iconFile: 'icon_otsurin.png',
        stores:  [
            {
                vendor: 'appstore',
                url: 'https://apps.apple.com/jp/app/%E3%81%8A%E9%87%A3%E3%82%8A%E8%A8%88%E7%AE%97%E6%A9%9F/id6479202932',
            },
            {
                vendor: 'googleplay',
                url: 'https://play.google.com/apps/testing/world.kanke.otsurin',
            },
        ]
    }
]
---
<section class="my-apps">
    <h2 class="my-apps__title">わたしのアプリたち</h2>
    <AppList apps={apps} />
</section>
