---
import { Image } from 'astro:assets';

import Hamburger from '../images/hamburger.png';
import '../styles/_navigation.scss';
---

<nav id="navigation" class="navigation">
    <Image src={Hamburger} alt="logo" class="navigation__image" />
</nav>
