---
import { Image } from 'astro:assets';

import Hamburger from '@/images/hamburger.png';
import QRCode from '@/images/qr.png';
---

<nav id="navigation" class="navigation">
    <Image src={Hamburger} alt="hamburger" id="hamburgerImage" class="navigation__image navigation__image--hanburger show" />
    <Image src={QRCode} alt="QR Code" id="qrCode" class="navigation__image navigation__image--qr-code" />
</nav>
