---
import { siteMetadata } from '../metadata';

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/style.scss';

const pathName = Astro.url.pathname;
const mainClass = (pathName === '/') ?
                     'container' :
                     `container ${pathName.replace('/', '')}`;

const pageMetadata = siteMetadata[pathName];
---

<html lang="ja">
	<head>
        <BaseHead metadata={pageMetadata} />
	</head>
	<body>
        <Header />
        <main class={mainClass}>
            <slot />
        </main>
        <Footer />
        <script>
            import '../scripts/hamburger.js';
        </script>
	</body>
</html>
