---
import { siteMetadata } from '../metadata';

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/style.scss';

const pathName = Astro.url.pathname;
const pathNameNoSlash = pathName.replaceAll('/', '');
const mainClass = (pathName === '/') ?
                     'container' :
                     `container ${pathNameNoSlash}`;

const pageMetadata = siteMetadata[`/${pathNameNoSlash}`];
---

<html lang="ja">
	<head>
        <BaseHead metadata={pageMetadata} />
	</head>
	<body>
        <Header />
        <main class={mainClass}>
            <slot />
        </main>
        <Footer />
	</body>
</html>
