---
import { siteMetadata } from '../metadata';

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/style.scss';

const { lang = 'ja', page, mainClass = '' } = Astro.props;
const pageMetadata =
    page === undefined ? siteMetadata['/'] : siteMetadata[`${page}`];

console.log('pageMetadata', pageMetadata);
---

<html lang={lang}>
    <head>
        <BaseHead metadata={pageMetadata} />
    </head>
    <body>
        <Header />
        <main class:list={['container', mainClass]}>
            <slot />
        </main>
        <Footer />
    </body>
</html>
