---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout page='privacy' lang='en'>
    <h2 class="privacy__title">Privacy Policy</h2>
    <section class="privacy__section privacy-section">
        <h2 class="privacy-section__title">Introduction</h2>
        <p class="privacy-section__explanation">
            This Privacy Policy describes how we handle personal information of users in the application provided by us (hereinafter referred to as "the App"). By using the App, you agree to this Privacy Policy.
        </p>
    </section>
    <section class="privacy__section privacy-section">
        <h2 class="privacy-section__title">Information We Collect</h2>
        <p class="privacy-section__explanation">
            When using the App, we collect the following user information.
        </p>
        <section class="privacy-section__subsection subsection">
            <h3 class="subsection__title">App Usage Data</h3>
            <p class="subsection__explanation">
                Our App may use Google AdMob for advertising purposes and Google Firebase Analytics for usage analysis.<br>
                Although advertising IDs are collected for ad delivery, they are not used to personally identify individuals.<br>
                For more details about the information collected, its purpose, and provision to third parties, please refer to the privacy policies linked below.
            </p>
            <ul class="subsection__list subsection__list--style-none">
                <li>
                    <a href="https://policies.google.com/technologies/partner-sites" target="_blank">AdMob (Google Inc.)<i class="fas fa-external-link-alt"></i></a>
                </li>
                <li>
                    <a href="https://firebase.google.com/support/privacy?hl=en" target="_blank">Firebase Analytics (Google Inc.)<i class="fas fa-external-link-alt"></i></a>
                </li>
            </ul>
        </section>
        <section class="privacy-section__subsection subsection">
            <h3 class="subsection__title">Personal Information Provided in Inquiries</h3>
            <p class="subsection__explanation">
                When you contact us or provide feedback, part of your user information may be sent.<br>
                Inquiries are sent via email, and the email body includes the following information. Your email address will also be sent.
            </p>
            <ul class="subsection__list subsection__list--style-disc">
                <li>Name and email address</li>
                <li>Device name, OS version, and other device information (screen size, pixel density, available heap memory)</li>
                <li>Addon purchase status</li>
            </ul>
        </section>
    </section>
    <section class="privacy__section privacy-section">
        <h2 class="privacy-section__title">Purpose of Use</h2>
        <p class="privacy-section__explanation">The collected user information is used for the following purposes:</p>
        <ul class="privacy-section__list privacy-section__list--style-disc">
            <li>Delivery and display of third-party advertisements</li>
            <li>Creation of statistical data in a format that does not personally identify users, for service-related purposes</li>
            <li>Responding to inquiries and providing information related to the App</li>
        </ul>
    </section>
    <section class="privacy__section privacy-section">
        <h2 class="privacy-section__title">Disclaimer</h2>
        <p class="privacy-section__explanation">
            We do not guarantee that the App will meet users’ specific purposes, or that it will have expected functionality, commercial value, accuracy, or utility, nor that it will be free from defects. We may change the App’s specifications at our discretion. We are not liable for any loss, damage, or malfunction caused by using the App, including data loss, hardware failure, or other damages.
        </p>
    </section>
    <section class="privacy__section privacy-section">
        <h2 class="privacy-section__title">Changes to the Privacy Policy</h2>
        <ul class="privacy-section__list privacy-section__list--style-disc">
            <li>The content of this policy may be changed without notice to users, except as required by law or other regulations.</li>
            <li>Unless otherwise specified, the updated Privacy Policy takes effect from the time it is published on this website.</li>
        </ul>
    </section>
    <section class="privacy__section privacy-section">
        <h2 class="privacy-section__title">Contact</h2>
        <p class="subsection__explanation">E-mail: <a href="mailto:development@kanke.world">development@kanke.world</a></p>
    </section>
</BaseLayout>
